@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    font-family: Outfit;
    background-color: rgb(171, 204, 248);
    margin: 5;
    padding: 0;
}
.app-container {
    padding: 0;
}
.app-header{
    margin: 5;
    background-color: blueviolet;
    padding: 10px;
    text-align: center;
    color: white;
} 
.navegation{
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.nav-link{
    background-color: rgb(0, 0, 0);
    padding: 2px 8px;
    border-radius: 4px;
}
.nav-link:hover{
    background-color: red;
}
a {
    text-decoration: none;
    color: black;
}
.nav-links{
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px;
}
.page-container{
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    gap: 10px;
}
.content {
    background-color: rgb(189, 222, 255);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);  
}
.content.left, 
.content.right {
    width: 50%;
}
.title{
    text-align: center;
    margin-top: 0;

}

.rc-slider {
    width: 100%;
    height: 8px; 
    margin: 10px 0;
}

.rc-slider-track {
    background-color: #007bff; 
    height: 12px;
    border-radius: 6px;
}

.rc-slider-rail {
    background-color: #c4c4c4; 
    height: 12px;
    border-radius: 6px;
}

.rc-slider-handle {
    border: 2px solid #007bff;
    background-color: rgb(255, 255, 255);
    width: 24px;
    height: 24px;
    margin-top: -6px; 
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(255, 136, 0, 0.3); 
    cursor: pointer;
}

.rc-slider-handle:hover {
    transform: scale(1.2); 
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.5);
}

.rc-slider-mark-text {
    color: #000000; 
    font-weight: bold;
}
